header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

}

.right a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.left {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.right a:hover {
    color: #1abc9c;
}

.left {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

header span{
    flex-wrap: nowrap; /* Force les éléments à rester sur la même ligne */
}
/*media query pour le mobile*/
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    .left {
        font-size: 15px; /*réduction de la taille de la police*/
    }

    .right a {
        margin-left: 10px; /*réduction de l'espace entre les liens*/
        font-size: 7px; /*réduction de la taille de la police des liens*/
    }
}