.Play {
  background-image: url("/assets/images/header.png");
  background-size: cover;
  height: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.Play .Bienvenue{
  padding: 10px;
  font-size: 25px;
  text-align: center;
}
.Play .play_button{
  font-size: 50px;
  text-align: center;
}
.Play .play_button a{
  color: #f4eeee;
  text-decoration: none;
  margin: 10px;
  border-radius: 10px;

}

.Play .background_play{
  font-size: 60px;
  background-color: orange;
  border-radius: 10px;
  transition: transform 0.2s;
  margin :auto;
  width:60%;

}
.Play .background_play:hover{
  transform: scale(1.1);
  background-color: darkorange;
}
.Rules{
  text-align: center;
}
.Rules .rules_title{
  background-color: darkslateblue;
  border-radius: 30px;
  font-size: 22px;
}
.Rules .Imageex{
  border-radius: 10px;
}
.Stats .stats_title{
  background-color: darkslateblue;
  border-radius: 30px;
  font-size: 22px;
  text-align: center;
}



.Stats .stats_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Stats .stats_content .background  {
  position: relative;
  text-align: center;
  border-radius: 10px;
}
.Stats .stats_content .background img{
  border-radius: 20px;
  margin: 15px;
}
.Stats .stats_content .statistique  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: blueviolet;
  font-size: 25px;
  font-weight: bolder;
  -webkit-text-stroke: 1px darkslateblue;
}

.team_title{
  background-color: darkslateblue;
  border-radius: 30px;
  font-size: 22px;
  text-align: center;
}

.team_content {
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.name{
  text-align: center;
  font-size: 17px;
}
.members img{
  margin: 20px;
  border-radius: 10px;
}
