.userAccount {
    display: flex;
    flex-direction: column;

    padding-bottom: 100px;
}

.infoPlayerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
}

.userAccount .infoPlayerBox figure {
    background-color: #29292b;
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius :40px 50px 40px 50px; /*    Haut-gauche, Haut-droit, Bas-droit, Bas-gauche   rend l'image ciculaire*/
    border : 0.125rem solid #ffffff; /* Bordure de l'image en gris */
    margin: auto;


    display: flex;
    align-content: center;
    justify-content: center;
}

.userAccount .infoPlayerBox .boxOfProfil {
    margin : 20px auto;
}

.userAccount .infoPlayerBox img {
    width: 50%;

}

.userAccount .infoPlayerBox p {
    margin: 4px 10px;

}

.userAccount .actionBtn {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.userAccount .actionBtn .buttonMotDePasse {
    width: 100px;
    height: 50px;
    font-size: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    background-image: repeating-linear-gradient(45deg,  rgb(231, 175, 40), #fdcb58);
    text-decoration: none;
}

.userAccount .actionBtn .buttonMail {
    width: 100px;
    height: 50px;
    font-size: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    background-image: repeating-linear-gradient(45deg,  rgb(231, 175, 40), #fdcb58);
    text-decoration: none;
}
